@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.3;
  font-weight:500;
}

h2{
  padding: 10px 0;
  font-size: 2em;
  line-height: 1;
  font-weight:500;
}
button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  margin: 25px 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(255, 166, 0);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: 1px solid rgba(173, 83, 18, 0.518);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.banner-heading {
  font-weight: 700;
  font-size: 80px;
  /* line-height: 100px; */
}

.title {
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.mute {
  font-weight: 500;
  font-size: 1rem;
  color: #757575;
}

.nav-bar {
  padding: 25px 0;
  height: max-content;
}


.logo-name img {
  height: 3rem;
  width: 3.5rem;
  margin: 10px 15px;
}

.banner {
  background-image: url("https://raw.githubusercontent.com/SumonaShimu/ass-09-img/main/All%20Images/Vector.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  background-size:400px;
}

.space{
  margin: 2rem;
  padding: 2rem;
}

.card {
  text-align: left;
  padding: 1rem 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.card-img{
  width: 50%;
  max-height: 20%;
  margin: 1.5rem 0;
}

.btn-mute{
  font-size: small;
  border-radius: 10px;
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #d6d4d4df;
  border-color:2px solid transparent;
}
.btn-mute:hover{
  border:2px solid #d6d4d4;
}
.header{
  background-image: url("https://raw.githubusercontent.com/SumonaShimu/ass-09-img/main/All%20Images/Vector.png");
  background-repeat: no-repeat;
  background-position:bottom left;
  background-size:250px;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon{
  color: rgb(214, 79, 1);
  margin-right: 10px;
}

hr{
  border-color:  rgb(152, 151, 151);
  border-radius: 10px;
  
}