@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


body {
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 25px 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f97416ae;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #ff80258a;
  border: 2px solid #91450ee2;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.banner-heading {
  font-weight: 700;
  font-size: 80px;
  /* line-height: 100px; */
}

.title {
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.mute {
  font-weight: 500;
  font-size: 1rem;
  color: #757575;
}

.nav-bar {
  padding: 25px 0;
  height: max-content;
}


.logo-name img {
  height: 3rem;
  width: 3.5rem;
  margin: 10px 15px;
}

.banner {
  background-image: url('./assets/All Images/Vector-1.png');
  background-repeat: no-repeat;
  background-position: bottom top;
  background-size: contain;
}

.space{
  margin: 2rem;
  padding: 2rem;
}